/* Flickr widget */
.flickr_badge_wrapper {
    /*margin: 9px -20px -9px 0px;*/
    overflow: hidden;
}

.flickr_badge_wrapper div {
    float: left;
    /*margin: 0 2px 3px 0;*/
}

.flickr_badge_image {
    background: none repeat scroll 0 0 transparent;
    float: left;
    height: 61px;
    margin: 0 4px 4px 0;
    overflow: hidden;
    padding: 0;
    position: relative;
    width: 61px;
	
	border-radius:4px;
	-moz-border-radius:4px;
	-webkit-border-radius:4px;
	-o-border-radius:4px;
}

.flickr_badge_image a span {
	background-color: black;
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
    z-index: 10;
	opacity:0;
	
	transition:all 0.3s;
	-moz-transition:all 0.3s;
	-webkit-transition:all 0.3s;
	-o-transition:all 0.3s;
}

.flickr_badge_image a:hover span {
	opacity:.7;
}

.flickr_badge_image a i {
	font-family:'FontAwesome';
	color:white;
	font-size:14px;
	position:absolute;
	z-index:20;
	left:0;
	top:43%;	
	opacity:0;
	
	transition:all 0.3s;
	-moz-transition:all 0.3s;
	-webkit-transition:all 0.3s;
	-o-transition:all 0.3s;
}

.flickr_badge_image a:hover i {
	left:43%;
	opacity:1;
}

.flickr_badge_wrapper div a {
    display: block;
    float: left;
    margin: 0;
    padding: 0px;
    
	
	
	transition:all 0.3s ease 0s;
	-moz-transition:all 0.3s ease 0s;
	-webkit-transition:all 0.3s ease 0s;
	-o-transition:all 0.3s ease 0s;
	-ms-transition:all 0.3s ease 0s;
}

.flickr_badge_wrapper div a img {
	transition:all 0.3s ease 0s;
	-moz-transition:all 0.3s ease 0s;
	-webkit-transition:all 0.3s ease 0s;
	-o-transition:all 0.3s ease 0s;
	-ms-transition:all 0.3s ease 0s;
}




.flickr_badge_image img {
    height: 100%;
    margin: 0;
    max-height: 100%;
    max-width: 100%;
    overflow: hidden;
    position: relative;
    width: 100%;
}