/* Contact form */
.pm-contact-form-container {
	width:auto;
	height:auto;
	overflow:hidden;	
}


.pm-required {
	font-family:'Open Sans';
	font-size:13px;	
}

.pm-form-textfield {
	border:1px solid #e1e1e1;
	padding:10px 13px;
	width:50%;
	margin-top:10px;
	font-family:'Open Sans';
	
	background-image: -webkit-gradient(
		linear,
		left top,
		left bottom,
		color-stop(0, #FFFFFF),
		color-stop(0, #F7F7F7),
		color-stop(1, #FFFFFF)
	);
	background-image: -o-linear-gradient(bottom, #FFFFFF 0%, #F7F7F7 0%, #FFFFFF 100%);
	background-image: -moz-linear-gradient(bottom, #FFFFFF 0%, #F7F7F7 0%, #FFFFFF 100%);
	background-image: -webkit-linear-gradient(bottom, #FFFFFF 0%, #F7F7F7 0%, #FFFFFF 100%);
	background-image: -ms-linear-gradient(bottom, #FFFFFF 0%, #F7F7F7 0%, #FFFFFF 100%);
	background-image: linear-gradient(to bottom, #FFFFFF 0%, #F7F7F7 0%, #FFFFFF 100%);
	
	transition:all 0.5s;
	-moz-transition:all 0.5s;
	-webkit-transition:all 0.5s;
	-o-transition:all 0.5s;
}

.pm-form-textfield.invalid_field {
	border:1px solid red;	
}

.pm-form-textfield:focus, .pm-form-textarea:focus {
	background-color:#EF5438;
	background-image:none;	
	color:white;
}

.pm-form-textarea {
	border:1px solid #e1e1e1;
	padding:10px 13px;
	width:100%;
	margin-top:10px;
	font-family:'Open Sans';
	min-height:150px;
	
	background-image: -webkit-gradient(
		linear,
		left top,
		left bottom,
		color-stop(0, #FFFFFF),
		color-stop(0, #F7F7F7),
		color-stop(1, #FFFFFF)
	);
	background-image: -o-linear-gradient(bottom, #FFFFFF 0%, #F7F7F7 0%, #FFFFFF 100%);
	background-image: -moz-linear-gradient(bottom, #FFFFFF 0%, #F7F7F7 0%, #FFFFFF 100%);
	background-image: -webkit-linear-gradient(bottom, #FFFFFF 0%, #F7F7F7 0%, #FFFFFF 100%);
	background-image: -ms-linear-gradient(bottom, #FFFFFF 0%, #F7F7F7 0%, #FFFFFF 100%);
	background-image: linear-gradient(to bottom, #FFFFFF 0%, #F7F7F7 0%, #FFFFFF 100%);
	
	transition:all 0.5s;
	-moz-transition:all 0.5s;
	-webkit-transition:all 0.5s;
	-o-transition:all 0.5s;
}

.pm-form-submit-btn {
	border:0px solid grey;
	background-color:#2B5C84;
	padding:7px 15px;
	font-family:'Open Sans';
	color:white;
	font-weight:100;
	text-transform:uppercase;
	margin-top:10px;
	
	transition:all 0.3s;
	-moz-transition:all 0.3s;
	-webkit-transition:all 0.3s;
	-o-transition:all 0.3s;
}

.pm-form-submit-btn:hover {
	background-color:#333;	
}
/* Contact form end */



/* Global form elements */
.pm-checkbox-input {
	overflow:hidden;
	margin-top:10px;
}
.pm-remember-checkbox {
	float:left;
	margin-right:8px !important;
}

.pm-checkbox-input p {
	line-height:22px !important;	
}

.pm-textfield {
	border:1px solid #e1e1e1;
	padding:15px 13px;
	width:100%;
	margin-top:10px;
	font-family:'Open Sans';
	
	background-image: -webkit-gradient(
		linear,
		left top,
		left bottom,
		color-stop(0, #FFFFFF),
		color-stop(0, #F7F7F7),
		color-stop(1, #FFFFFF)
	);
	background-image: -o-linear-gradient(bottom, #FFFFFF 0%, #F7F7F7 0%, #FFFFFF 100%);
	background-image: -moz-linear-gradient(bottom, #FFFFFF 0%, #F7F7F7 0%, #FFFFFF 100%);
	background-image: -webkit-linear-gradient(bottom, #FFFFFF 0%, #F7F7F7 0%, #FFFFFF 100%);
	background-image: -ms-linear-gradient(bottom, #FFFFFF 0%, #F7F7F7 0%, #FFFFFF 100%);
	background-image: linear-gradient(to bottom, #FFFFFF 0%, #F7F7F7 0%, #FFFFFF 100%);
	
	transition:all 0.5s;
	-moz-transition:all 0.5s;
	-webkit-transition:all 0.5s;
	-o-transition:all 0.5s;
}

.pm-textfield.invalid_field {
	border:1px solid red;	
}

.pm-textfield:focus, .pm-textarea:focus {
	background-color:#EF5438;
	background-image:none;	
	color:white;
}

.pm-textarea {
	border:1px solid #e1e1e1;
	padding:10px 13px;
	width:100%;
	margin-top:10px;
	font-family:'Open Sans';
	min-height:150px;
	
	background-image: -webkit-gradient(
		linear,
		left top,
		left bottom,
		color-stop(0, #FFFFFF),
		color-stop(0, #F7F7F7),
		color-stop(1, #FFFFFF)
	);
	background-image: -o-linear-gradient(bottom, #FFFFFF 0%, #F7F7F7 0%, #FFFFFF 100%);
	background-image: -moz-linear-gradient(bottom, #FFFFFF 0%, #F7F7F7 0%, #FFFFFF 100%);
	background-image: -webkit-linear-gradient(bottom, #FFFFFF 0%, #F7F7F7 0%, #FFFFFF 100%);
	background-image: -ms-linear-gradient(bottom, #FFFFFF 0%, #F7F7F7 0%, #FFFFFF 100%);
	background-image: linear-gradient(to bottom, #FFFFFF 0%, #F7F7F7 0%, #FFFFFF 100%);
	
	transition:all 0.5s;
	-moz-transition:all 0.5s;
	-webkit-transition:all 0.5s;
	-o-transition:all 0.5s;
}

select {
	padding:15px 13px;
	width:100%;
	font-family:'Open Sans';
	border:1px solid #e1e1e1;
	margin-top:10px;
	
	background-image: -webkit-gradient(
		linear,
		left top,
		left bottom,
		color-stop(0, #FFFFFF),
		color-stop(0, #F7F7F7),
		color-stop(1, #FFFFFF)
	);
	background-image: -o-linear-gradient(bottom, #FFFFFF 0%, #F7F7F7 0%, #FFFFFF 100%);
	background-image: -moz-linear-gradient(bottom, #FFFFFF 0%, #F7F7F7 0%, #FFFFFF 100%);
	background-image: -webkit-linear-gradient(bottom, #FFFFFF 0%, #F7F7F7 0%, #FFFFFF 100%);
	background-image: -ms-linear-gradient(bottom, #FFFFFF 0%, #F7F7F7 0%, #FFFFFF 100%);
	background-image: linear-gradient(to bottom, #FFFFFF 0%, #F7F7F7 0%, #FFFFFF 100%);
}

select.invalid_field {
	border:1px solid red;	
}

label {
	font-family:'Open sans';
	font-size:14px;
	color:#656565;	
	font-weight:300;
	margin-top:20px;
	margin-bottom:0px;
}
/* Global form elements end */

/* Rounded Form button */

.pm-rounded-submit-btn {
	min-width:100px;
	display:inline-block;
	padding:12px 20px;
	text-decoration:none;
	text-transform:uppercase;
	font-family:'Open sans';
	font-size:14px;
	font-weight:bold;
	color:white !important;
	margin:10px 0px;
	text-align:center;
	border:0px solid white;
	
	border-radius:4px;
	-moz-border-radius:4px;
	-webkit-border-radius:4px;
	-o-border-radius:4px;
	
	transition:all 0.4s;
	-moz-transition:all 0.4s;
	-webkit-transition:all 0.4s;
	-o-transition:all 0.4s;
}

.pm-rounded-submit-btn:hover {
	color:white;
	background-color:#333 !important;
}

.pm-rounded-submit-btn.pm-primary {
	background-color:#EF5438;
}

.pm-rounded-submit-btn.pm-secondary {
	background-color:#44619d;
}

/* Rounded Form button end */

/* Shopping cart form */
.pm-cart-items-container {
    border: 1px solid #e0dede;
    margin-bottom: 30px;
    padding-bottom: 10px;
}

.pm-cart-totals-container {
    border: 1px solid #e0dede;
    margin-bottom:0px;
    padding-bottom:0px;
}

.pm-cart-count {
    border-bottom: 1px solid #e0dede;
    margin-bottom: 30px;
    padding: 15px 0 10px 20px;
}

.pm-cart-count-text {
    color:#295D84;
    font-family:'Open sans';
    font-size: 22px;
    font-style: normal;
    font-variant: normal;
    font-weight: 300;
}

.pm-cart-total {
    border-bottom: 1px solid #e0dede;
    padding: 15px 0 10px 20px;
}

.row.cart_item:last-child {
	padding-bottom:0px;
}

.row.cart_item {
    padding: 0 0 20px 30px;
}

.pm-cart-totals {
	padding:0px;
	margin:0px;
	list-style:none;	
	overflow:hidden;
}

.pm-cart-totals li:last-child {
	border-bottom:0px solid #e0dede;	
}

.pm-cart-totals li {
	overflow:hidden;
	padding:20px 30px 10px 12px;	
	border-bottom:1px solid #e0dede;
}

.pm-cart-totals li .label {
	float:left;
	display:block;	
	color:#295D84;
    font-family:'Open sans';
    font-size: 14px;
	text-transform:uppercase;
}

.pm-cart-totals li .price {
	float:right;
	display:block;	
	font-family:'Open sans';
    font-size: 14px;
}
/* Shopping cart form end */

/* Checkout form */
.pm-expandable-login-container {
	width:auto;
	height:auto;
	overflow:hidden;	
	border:1px solid #e0e0e0;
	padding:20px;
	margin-top:20px;
	display:none;
}
.pm-form-checkbox-input {
	display: inline-block;
    margin-top: 20px !important;
    width: 100%;
}

/* Checkout form end */

/* Cart form */
.pm-order-summary-container {
    border: 1px solid #e0dede;
    margin-bottom: 30px;
	margin-top:20px;
}

.pm-order-summary {
	padding:0px;
	margin:0px;
	list-style:none;	
	overflow:hidden;
}

.pm-order-summary li:last-child {
	border-bottom:0px solid #e0dede;	
}

.pm-order-summary li:before {
	content:"";
	padding:0;
	margin:0;	
}

.pm-order-summary li {
	overflow:hidden;
	padding:20px 30px 10px 12px;	
	border-bottom:1px solid #e0dede;
}

.pm-order-summary li .title {
	float:left;
	display:block;	
	color:#333;
    font-family:'Open sans';
    font-size: 14px;
	text-transform:uppercase;
	padding:0 10px;
}

.pm-order-summary li .label {
	float:left;
	display:block;	
	color:#333;
    font-family:'Open sans';
    font-size: 14px;
	text-transform:uppercase;
	margin-bottom:0px !important;
}

.pm-order-summary li .price {
	float:right;
	display:block;	
	font-family:'Open sans';
    font-size: 14px;
}
/* Shopping cart form end */

/* Payment options */
.pm-payment-option-container {
	background-color:#f2f2f2;
	padding:20px;
}

/* Custom drop menu */
.pm-dropdown {
    min-width:100px;
}


.pm-dropmenu {
    cursor: pointer;
    line-height: 1;
    overflow: hidden;
    position: relative;
    width:100%;
	background-color:transparent;
	padding-bottom:10px;
	
	transition: all 0.1s ease 0s;
	-moz-transition: all 0.1s ease 0s;
	-webkit-transition: all 0.1s ease 0s;
	-o-transition: all 0.1s ease 0s;
}

.pm-dropmenu .pm-menu-title {
    color:white;
    font-family: 'Cantata One';
    font-weight: 500;
	font-size:12px;
    margin:0px 0 0 12px;
	text-align:left;
}


.pm-dropmenu .pm-selected {
    color: grey;
    font-family:'Open sans';
    font-size: 18px;
    font-weight: bold;
    letter-spacing: -1px;
    margin: 0;
}

.pm-dropmenu i {
    color: #F03516;
    position: absolute;
    right: 10px;
    top: 17%;
}

.pm-dropmenu-active {
    display: none;
    height: auto;
    position: absolute;
    min-width:120px;
    z-index: 9999;
}

.pm-dropmenu-active ul {
    margin: 0;
	padding: 0;
	list-style:none;
	background-color:black;
}

.pm-dropmenu-active ul li:before {
    content: "" !important;
    margin: 0 !important;
    padding: 0 !important;
}

.pm-dropmenu-active ul li:first-child {
	margin-right:0px;	
}

.pm-dropmenu-active ul li {
    text-align:left;
	float:none;
	margin-right:0px;
	
	transition:all 0.4s;
	-moz-transition:all 0.4s;
	-webkit-transition:all 0.4s;
	-o-transition:all 0.4s;
}

.pm-dropmenu-active ul li:hover {
	background-color:#F03D1E;	
}

.pm-dropmenu-active ul li:hover a {
	color:white;	
}

.pm-dropmenu-active ul li a {
    color: white;
    display: block;
    padding: 4px 11px;
	text-decoration:none;
}

.pm-dropmenu-active ul li a.active {
	font-weight:bold;	
}

.pm_s_security_code {
    float: none;
    width: 125px;
}

#pm-contact-form-response, #pm-event-form-response, #pm-catering-form-response {
	margin:15px 0 5px;
    color: red !important;
}

.pm-form-textfield-with-icon {
	border:1px solid #e1e1e1;
	padding:11px 10px 10px 40px;
	width:100%;
	margin-top:10px;
	font-family:'Open Sans';
	position:relative;
	
	background-image: -webkit-gradient(
		linear,
		left top,
		left bottom,
		color-stop(0, #FFFFFF),
		color-stop(0, #F7F7F7),
		color-stop(1, #FFFFFF)
	);
	background-image: -o-linear-gradient(bottom, #FFFFFF 0%, #F7F7F7 0%, #FFFFFF 100%);
	background-image: -moz-linear-gradient(bottom, #FFFFFF 0%, #F7F7F7 0%, #FFFFFF 100%);
	background-image: -webkit-linear-gradient(bottom, #FFFFFF 0%, #F7F7F7 0%, #FFFFFF 100%);
	background-image: -ms-linear-gradient(bottom, #FFFFFF 0%, #F7F7F7 0%, #FFFFFF 100%);
	background-image: linear-gradient(to bottom, #FFFFFF 0%, #F7F7F7 0%, #FFFFFF 100%);
	
	transition:all 0.5s;
	-moz-transition:all 0.5s;
	-webkit-transition:all 0.5s;
	-o-transition:all 0.5s;
}

.pm-input-container {
  position:relative;
}

.pm-input-container-icon {
	color:#bfbfbf;
    display:inline-block;
    width: auto;
    height: auto;
    min-width: 16px;
    padding: 4px 5px;
    font-size: 14px;
    font-weight: normal;
    line-height: 20px;
    text-align: center;
    position:absolute;
    left:10px;
    top:17px;
    bottom:3px;
    z-index:3;
}